	<aside class="sidebar">
		<a href="{{ site.baseurl }}/" ><img class="company-logo" src="{{ site.baseurl }}/img/logo.png"></a>
		<div class="sidebar-links">

			<!-- TEAM -->

			<div class="link-blue">
				<a href="#"><i class="fa fa-user"></i>Our Team</a>
				<ul class="sub-links">
					<li><a href="{{ site.baseurl }}/pages/team/vineesh"><div aria-hidden="true" class="ripple-wave"></div>Vineesh NP</a></li>
					<li><a href="{{ site.baseurl }}/pages/team/aboobacker"><div aria-hidden="true" class="ripple-wave"></div>Aboobacker MK</a></li>
					<li><a href="{{ site.baseurl }}/pages/team/vivek"><div aria-hidden="true" class="ripple-wave"></div>Vivek Lambert</a></li>
					<li><a href="{{ site.baseurl }}/pages/team/sreenadh"><div aria-hidden="true" class="ripple-wave"></div>Sreenadh T C</a></li>
					<li><a href="{{ site.baseurl }}/pages/team/sijin"><div aria-hidden="true" class="ripple-wave"></div>Sijin T V</a></li>
					<li><a href="{{ site.baseurl }}/pages/team/akhil"><div aria-hidden="true" class="ripple-wave"></div>Akhil</a></li>
				</ul>
			</div>

			<!-- BLOGS -->

			<div class="link-orange">
				<a href="#"><i class="fa fa-paperclip "></i>Blogs</a>
				<ul class="sub-links">
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Link 1 - Blah Blah</a></li>
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Link 2 - Blah Blah</a></li>
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Link 3 - Blah Blah</a></li>
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Link 4 - Blah Blah</a></li>
				</ul>
			</div>

			<!-- PROJECTS -->

			<div class="link-yellow">
				<a href="#"><i class="fa fa-keyboard-o"></i>Projects</a>
				<ul class="sub-links">
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Project 1 - Blah Blah</a></li>
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Project 2 - Blah Blah</a></li>
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Project 3 - Blah Blah</a></li>
					<li><a href="#"><div aria-hidden="true" class="ripple-wave"></div>Project 4 - Blah Blah</a></li>
				</ul>
			</div>

			<!-- BLAH 
			<div class="link-green">
				<a href="#"><i class="fa fa-map-marker"></i>Places</a>
				<ul class="sub-links">
					<li><a href="#">Blah 1</a></li>
					<li><a href="#">Blah 2</a></li>
					<li><a href="#">Blah 3</a></li>
					<li><a href="#">Blah 4</a></li>
				</ul>
			</div> -->
		</div>
	</aside>